{% extends "index.html" %}
{% block title %}{{ gettext('Archives') }}{% endblock %}
{% block content %}
<div id="primary">
<div id="content" role="main">
    <header class="page-header">
        <h1>{{ gettext('Archives de %(name)s', name=SITENAME) }}</h1>
    </header>
{% for article in dates %}
    {% include 'content_summary.html' %}
{% endfor %}
</div>
</div>
{% include 'sidebar.html' %}
{% endblock %}
