{% block article %}
    <article id="post-{{ article.slug }}" class="post-{{ article.slug }} post hentry">    
        <header class="entry-header">
            <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ gettext('Lien permanent vers %(name)s', name=article.title) }}">{{ article.title }}</a></h2>
            <div class="entry-meta">
                <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.locale_date }}" class="entry-date-link" rel="bookmark">
                    <time class="entry-date" datetime="{{ article.date.isoformat() }}" pubdate>
                        <span class="date-day">{{ article.date.day }}</span><span class="date-mon">{{ article.date.strftime('%b') }}</span>
                    </time>
                 </a>
            </div>
        </header>
        <div class="entry-content">
            {{ article.content.replace('<!-- cut -->', '') }}
        </div>
        <footer class="post-info">
            {{ gettext('Publié en %(lang)s  par <a href="%(siteurl)s/%(author_url)s" title="Voir les articles de l’auteur">%(author)s</a> dans <a href="%(siteurl)s/%(category_url)s">%(category)s</a> | Mots-clés :',
                       lang=(article.lang | lookup_lang_name),
                       author_url=article.author.url,
                       author=article.author,
                       siteurl=SITEURL,
                       category_url=article.category.url,
                       category=article.category) }}
            {% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> {% endfor %}
            {% if article.translations %}{{ gettext('Lire en :') }}
            {% for translation in article.translations %}
            <a href="{{ SITEURL }}/{{ translation.url }}">{{ translation.lang | lookup_lang_name }}</a>
            {% endfor %}
            {% endif %}
        </footer>
        {% if ISSO_SERVER %}
        <hr /><section id="isso-thread"></section>
        <noscript>{{ gettext('les commentaires de ce site utilisent un script javascript libre, proposé par <a href="https://posativ.org/isso/">Isso</a>') }}</noscript>
        {% endif %}
    </article>
{% endblock %}
