{% extends "base.html" %}
{% block body_classes %}home two-column right-sidebar{% endblock %}
{% block content %}        
<div id="primary">
<div id="content" role="main">
    {% block content_title %}{% endblock %}
{% for article in articles_page.object_list %}        
    {% include 'content_summary.html' %}
{% endfor %}
{% include 'pagination.html' %}
</div>
</div>
{% include 'sidebar.html' %}
{% endblock %}
