<div id="secondary" class="widget-area" role="complementary">
    <aside id="search" class="widget widget_search">
        <h3 class="widget-title">{{ gettext('Recherche') }}</h3>
        <form class="navbar-search" action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);"> <input type="text" class="search-query" placeholder="{{ gettext('Recherche') }}" name="q" id="tipue_search_input"></form>
    </aside>
    <aside id="categories" class="widget widget_categories">
        <h3 class="widget-title">{{ gettext('Categories') }}</h3>
        <ul>
        {% for (category, articles) in categories %}
        <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category.name }}</a> ({{ articles|length }})</li>
        {% endfor %}
        </ul>
    </aside>
    <aside id="text" class="widget widget_text">
        <h3 class="widget-title">{{ gettext('Informations') }}</h3>
        <div class="textwidget"><p>{{ gettext('L’intégralité du contenu de ce blog est, sauf mention contraire, sous licence <a href="http://creativecommons.org/licenses/by-sa/3.0">Creative Commons BY-SA</a>') }}</p>
        <p class="center"><img src="/images/cc.png" alt="Creative Commons BY-SA" /></p>
        <p class="center">{{ gettext('Vous trouverez la source MarkDown de chaque article en
        remplaçant « .html » par « .md » dans son adresse.') }}</p>
        <h4>{{ gettext('Je soutiens') }}</h4>
        <ul id="logolist">
            {% for (text, title, url) in LINKS %}<li><a href="{{ url }}" title="{{ title }}">{{ text }}</a></li>{% endfor %}
        </ul>
    </div>
</aside>
</div>
